<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <div>
        <img src="../images/cat.jpg" alt="cat" width="100px">
    </div>
    <h1><%= title %></h1>