<%- include('../partials/header') %>

<h3><%= catFact.fact %></h3>
<br>
<a href="/cats/fact">Get Another Cat Fact!</a>

<a href="/cats/manyfacts">Get a Bunch of Cat Facts!</a>

<%- include('../partials/footer') %>